.idea/
#AnimalTrail.sln
#Assembly-CSharp-Editor.csproj
#Assembly-CSharp.csproj
Library/
Logs/
Recordings/
Temp/
#UIElementsSchema/
UserSettings/
build/
obj/
!/[Aa]ssets/**/*.meta
[Aa]ssets/Plugins/Editor/JetBrains*